body {
  background-color: white;
  color: rgb(241, 44, 77);

}
.tulips{
  /* border: 2px solid rgb(241, 44, 77); */
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  border-radius: 30px;
}
img{
  width: 120%;
  height: 120%;
  border-radius: 20%;
  margin: 0 auto;
  
}
h1{
  text-align: center;
  color: rgb(241, 44, 77);
  padding: 30px;
  
}
p{
  font-size: 20px;
}